body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #F7E9DE;
}

.sep {
    height: 1px;
    background-color: #520002;
}

#nav-item {
    float: left;
    list-style: none;
    text-decoration: none;
    padding-left: 10px;
}

#nav-item a {
    display: block;
    padding-left: 8px;
    text-decoration: none;
    color: #520002;
}

#header-flex {
    margin-top: 5px;
    margin-bottom: 4px;
}

@font-face {
    font-family: fancyFont;
    src: url(other/HerrVonMuellerhoff-Regular.ttf);
}

#top-middle {
    display: inline;
    align-content: center;
    justify-content: center;
    color: #520002;
    font-family: fancyFont;
}

#imgs {
    display: inline;
    padding-right: 65px;
}

#imgs a {
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    list-style: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 10;
}

.test {
    border: 1px solid #777;
}